<form action="" method="post">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" placeholder="user@example.com" />
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" placeholder="username" />
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" />
  <label for="confirm">Confirm:</label>
  <input type="password" name="confirm" id="confirm" />
  <button type="submit">Submit</button>
</form>
