<div class="fileInfo">
  <div class="fileInfoRow">
    <p>Size:</p>
    <p><%= data.size %></p>
  </div>
  <div class="fileInfoRow">
    <p>Created:</p>
    <p><%= new Date(data.uploaded).toISOString().split("T")[0] %></p>
  </div>
</div>
