<div class="hiddenForm">
  <% if(locals.currentUser) { %>
    <form action="/file/create" method="post">
      <label for="fileName">Name</label>
      <input type="text" name="name" id="fileName" value="Untitled File" />
      <input type="file" name="upload" id="fileUpload" />
      <button type="reset">Cancel</button>
      <button type="submit">Submit</button>
    </form>
  <% } else { %>
    <p>You must be logged in to create a file.</p>
  <% } %>
</div>
