<div class="fileInfo">
  <div class="fileInfoRow">
    <p>Size:</p>
    <p><%= data.size %></p>
  </div>
  <div class="fileInfoRow">
    <p>Created:</p>
    <p><%= data.uploaded %></p>
  </div>
</div>
