<div class="fileCard">
  <p>Placeholder SVG</p>
  <h5><%= file.name %></h5>
  <p>Shared Icon</p>
  <button class="fileOptionsBtn">
    <img src="images/3dots.svg" alt="" />
  </button>
  <ul class="fileOptions">
    <li>Open</li>
    <li>Rename</li>
    <li>Move</li>
    <li>Share</li>
    <li>Delete</li>
  </ul>
</div>
