<div class="folderCard">
  <img src="images/folder.svg" alt="" />
  <h5><%= folder.name %></h5>
  <p>Shared Icon</p>
  <ul class="options">
    <a href="/folder/<%= folder.id%>"><li>Open</li></a>
    <li onclick="">Rename</li>
    <li>Move</li>
    <li>Share</li>
    <li>Delete</li>
  </ul>
</div>
