<div class="folderCard">
  <img src="images/folder.svg" alt="" />
  <h5><%= folder.name %></h5>
  <p>Shared Icon</p>
  <button class="folderOptionsBtn">
    <img src="images/3dots.svg" alt="" />
  </button>
  <ul class="folderOptions">
    <li>Open</li>
    <li>Rename</li>
    <li>Move</li>
    <li>Share</li>
    <li>Delete</li>
  </ul>
</div>
