<nav class="leftNav">
  <a href="/">Home</a>
  <a href="/shared">My Shared Files</a>
  <button class="newFile">New File</button>
  <button class="newFolder">New Folder</button>
</nav>
<%- include("fileForm") %> <%- include("folderForm") %>

<script>
  //reference both nav buttons and both creation forms (forms start hidden)
  const newFile = document.querySelector(".newFile");
  const newFolder = document.querySelector(".newFolder");
  const hiddenForm = document.querySelectorAll(".hiddenForm");

  function formVisibility(form) {
    form.classList.toggle("fullScreen");
  }
  newFile.addEventListener("click", function () {
    formVisibility(hiddenForm[0]);
  });
  newFolder.addEventListener("click", function () {
    formVisibility(hiddenForm[1]);
  });

  // resets and hides elements when clicking outside of form if visible
  hiddenForm.forEach((form) => {
    form.addEventListener("click", (e) => {
      if (!e.target.closest("form")) {
        form.querySelector("form")?.reset();
        formVisibility(form);
      }
    });
  });
</script>
