<div class="userAuth">
  <% if(locals.currentUser){ %>
    <h5> <%= currentUser.username %> </h5>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  <% } %>
</div>
