<div class="moveWrapper">
    <form action="" method="post" class="moveForm">
        <h3>Move to:</h3>
        <select name="folder">
            <option value="">Home</option>
            <% folders.forEach((folder) => { %>
                <option value="<%= folder.id %>"><%= folder.name %></option>
            <% }) %>
    </form>
</div>