<div class="rename">
    <form action="" method="post">
        <h3>Rename</h3>
        <input type="text" name="name" placeholder="New Name" />
        <button type="submit">Submit</button>
    </form>
</div>

<script>
    const renameWrapper = document.querySelector(".rename");
    const renameForm = document.querySelector(".rename form");
    const renameInput = document.querySelector(".rename input");
    const renameHeader = document.querySelector(".rename h3");

    function showRename (target) {
        renameHeader.textContent = `Rename ${target.name}`;
        renameInput.value = target.name;
        renameForm.action = target.action;
        renameWrapper.classList.add("show");
        renameInput.focus();
    }

    function hideRename () {
        renameWrapper.classList.remove("show");
    }
    renameWrapper.addEventListener("click", (e) => {
        if (!e.target.closest("form")) {
            hideRename();
        }
    });