/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.hiddenForm,
.modalWrapper {
  background-color: rgba(100, 100, 100, 0.5);
  display: none;
  position: fixed;
  inset: 0;
}
.folders,
.files {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.contentCardHeader {
  background-color: rgb(107, 106, 106);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.contentOptions {
  display: none;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
}
.contentOptions.show {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
ul,
li,
li button {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  border: none;
  padding: 0;
}
.contentOptions button:hover {
  background-color: lightgray;
}
.contentCard img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.fullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullScreen form {
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 60%;
}
.login input {
  padding: 0rem 0.5rem;
}
.login label {
  visibility: hidden;
  position: absolute;
}
.login button {
  grid-column-start: span 2;
}
.content {
  height: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}
.error {
  color: red;
}
.leftNav {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
footer {
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background-color: grey;
  font-size: 50%;
  line-height: 1rem;
  text-align: center;
}
main {
  padding: 1rem;
}
.userAuth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 0.25rem;
}
.userAuth > * {
  background-color: white;
  width: 4rem;
  height: 2rem;
  line-height: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
}
.userAuth > *:hover {
  filter: brightness(75%);
}

.signup,
.login {
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 5px;
}
.signup form {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: 1rem;
}
.signup button,
.login button {
  grid-column: span 2;
  justify-self: center;
}
